.button-container-primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 25px;
    background: #6666FF;
    border-radius: 100px;
    /* align-self: baseline; */
    /* Transition for BG Color*/
    align-items: center;
    justify-content: center;
    border: 1px solid #CDD5DF;
    height: 54px;

    transition: all 700ms;
}


.button-container-primary.disabled {
    cursor: not-allowed;
    opacity: 0.30000001192092896;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.button-container-primary:hover {
    cursor: pointer;
    background-color: #5353DA;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}


.button-text-primary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.button-icon-primary {
    height: 24px;
    width: 24px;
    fill: #FFFFFF
}

.button-icon-secondary {
    height: 24px;
    width: 24px;
    fill: #000
}

.button-container-secondary {
    flex-direction: row;
    display: flex;
    align-self: baseline;
    padding: 15px 25px;
    background: #FFFFFF;
    height: 54px;
    border: 1px solid #CDD5DF;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    transition: all 100ms;
}

.button-container-secondary.disabled {
    cursor: not-allowed;
    opacity: 0.30000001192092896;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.button-container-secondary:hover {
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.button-container-secondary:hover>.button-text-secondary {
    color: #667085;
}


.button-text-secondary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    transition: all 100ms;
    display: flex;
    align-items: center;

    /* Gray modern / 500 */
    transition: all 100ms;
    color: #697586;
}

.button-text-secondary:hover {
    cursor: pointer;
}

.button-container-delete {
    flex-direction: row;
    display: flex;
    align-self: baseline;
    padding: 15px 25px;
    background: #FFFFFF;
    height: 54px;
    border: 1px solid #CDD5DF;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    transition: all 100ms;
    background: var(--state-danger-400, #F04438);
}

.button-container-delete.disabled {
    cursor: not-allowed;
    opacity: 0.30000001192092896;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.button-container-delete:hover {
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.button-container-delete:hover>.button-text-delete {
    color: #FFF;
}


.button-text-delete {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    transition: all 100ms;
    display: flex;
    align-items: center;

    /* Gray modern / 500 */
    transition: all 100ms;
    color: #FFF;

}

.button-text-delete:hover {
    cursor: pointer;
}