.tag-wrapper {
    /* Input */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    height: 40px;

    background: rgba(102, 102, 255, 0.2);
    /* Shadow/xs */
    border-color: #6666FF;
    border-width: 2px;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 100px;
    margin-right: 10px;
    margin-bottom: 20px;
}