@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("../components/styles/modal.module.css");
@import url("../components/styles/taginput.module.css");
@import url("../components/styles/button.css");
@import url("../components/styles/toast.css");
@import url("../styles/sidebar.css");
@import url("../styles/settings.css");
@import url("../styles/home.css");
@import url("../styles/login.module.css");
@import url("../styles/configure.css");
@import url("../styles/accounts.css");
@import url("../styles/toast.css");
@import url("../LandingPage//landingPage.css");

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {

  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  /* For TABLETS: */
  .col-m-1 {
    width: 8.33%;
  }

  .col-m-2 {
    width: 16.66%;
  }

  .col-m-3 {
    width: 25%;
  }

  .col-m-4 {
    width: 33.33%;
  }

  .col-m-5 {
    width: 41.66%;
  }

  .col-m-6 {
    width: 50%;
  }

  .col-m-7 {
    width: 58.33%;
  }

  .col-m-8 {
    width: 66.66%;
  }

  .col-m-9 {
    width: 75%;
  }

  .col-m-10 {
    width: 83.33%;
  }

  .col-m-11 {
    width: 91.66%;
  }

  .col-m-12 {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  /* For desktop: */
  .col-d-1 {
    width: 8.33%;
  }

  .col-d-2 {
    width: 16.66%;
  }

  .col-d-3 {
    width: 25%;
  }

  .col-d-4 {
    width: 33.33%;
  }

  .col-d-5 {
    width: 41.66%;
  }

  .col-d-6 {
    width: 50%;
  }

  .col-d-7 {
    width: 58.33%;
  }

  .col-d-8 {
    width: 66.66%;
  }

  .col-d-9 {
    width: 75%;
  }

  .col-d-10 {
    width: 83.33%;
  }

  .col-d-11 {
    width: 91.66%;
  }

  .col-d-12 {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

html,

/* Disable all scroll bars in the whole app unless styled */
* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  width: 0px;
}

body {
  scrollbar-width: none;
  padding: 0;
  overscroll-behavior: none;
  margin: 0;
  font-family: "Inter";
  line-height: 1.6;
  font-size: 13px;
  display: "flexbox";
  height: 100vh;
  background-color: #f5f5f5;
  flex: 1;
  display: flex;
}

.body-text-xl {
  font-family: Inter;
  font-size: 14.5px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.18px;
}

.body-text-l {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.16px;
}

.body-text-m {
  font-family: Inter;
  font-size: 11.5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}

.h3 {
  /* Headings/H3 Semi Bold */
  font-family: Inter;
  font-size: 29px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}

.h5 {
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
}

.h6 {
  /* Headings/H6 Semi Bold */
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

/* Center Component FLIP */
.coin {
  height: 150px;
  width: 150px;
  position: relative;
  margin: 10px auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.coin img {
  width: 150px;
}

.heads,
.tails {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tails {
  transform: rotateX(180deg);
}

@keyframes spin-tails {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(1980deg);
  }
}

@keyframes spin-heads {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(2160deg);
  }
}

/* .coin {
  height: 150px;
  width: 150px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.heads,
.tails {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
} */

.scroll-hidden {
  /* hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.max-height-content {
  max-height: 100vh;
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.toast-toggle {
  display: none;
}

.cbx {
  display: flex;
  justify-content: space-around;
}

#cbx [type="checkbox"] {
  opacity: none;
}

#cbx {
  position: relative;
  top: 1px;
  width: 27px;
  height: 27px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
}

#cbx:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 8px;
  width: 7px;
  height: 14px;
  /* opacity: 0; */
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}

.lbl {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}

#cbx:checked,
#cbx:checked~.cbx {
  border-color: transparent;
  background: #6871f1;
  animation: jelly 0.6s ease;
}

#cbx:checked,
#cbx:checked~.cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

.cntr {
  position: relative;
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }

  30% {
    transform: scale(1.25, 0.75);
  }

  40% {
    transform: scale(0.75, 1.25);
  }

  50% {
    transform: scale(1.15, 0.85);
  }

  65% {
    transform: scale(0.95, 1.05);
  }

  75% {
    transform: scale(1.05, 0.95);
  }

  to {
    transform: scale(1, 1);
  }
}

.hidden-xs-up {
  display: none !important;
}

.register_body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAL0lEQVQYV2NkZGD4/5+BAUjhByAFQHXEKGQEKvxPjEKiTaSiQpAfwG4j0jMDphAAMVQNCuDf3dcAAAAASUVORK5CYII=) repeat;
}

/* .upload-button {
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #c62828;
} */

.parent-container-pre-login {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  /* Adjusted to 100vh instead of 100% */
}

.content-container-pre-login {
  background-color: white;
  display: flex;
  z-index: 10;
  margin: 2rem;
  width: 45%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  padding: 60px 0px;
}

.content-child-container-pre-login {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: calc(100vh - 4rem - 120px);
}

.main-container {
  display: flex;
  height: 100vh;
  background-color: #f5f5f5;
  width: 100%;
  overscroll-behavior: none;

}

.logo-default {
  width: 8vw;
  /* height: auto; */
}


.input-default::placeholder {

  font-size: 14px;
}

.input-default {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 7px;
  font-size: 14px;

  width: 100%;
  height: 42px;

  /* Base/White */
  background: #ffffff;
  border-radius: 12px;

  /* Gray/300 */
  border: 1px solid #d0d5dd;
}

.input-default:focus {
  /* Shadow/xs */
  outline: none;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.3);
  border-color: #6871f1;
}

.input-default.invalid {
  outline: none;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.3);
  border-color: red;
}

.text-light {
  color: #7d7d7d;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

.text-light>p {
  display: inline;
  cursor: pointer;
}

.phone-input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem;
}

.phone-input-input {
  width: 100%;
  margin-bottom: 1rem;
}

.header-1 {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #000000;
}

.header-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #000000;
}

.descriptive-1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #72777b;
  margin-bottom: 24px;
  margin-top: 16px;
}

.descriptive-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14.5px;
  line-height: 19px;
  /* identical to box height */
  display: flex;
  align-items: center;
  /* Gray/400 */
  color: #98a2b3;
}

.rotate-180 {
  transform: rotate(180deg);
}

/* Styling the Rich Text Editor  */
div.DraftEditor-root {
  width: 100%;
  height: 100%;
  padding-inline: 20px;
  font-size: 15px;
  margin: 0px;
  z-index: 10;
  flex-grow: 0;
  line-height: 1.4;
}

div.DraftEditor-editorContainer {
  /* margin-top: 40px; */
  /* Body/XL Medium */
  font-size: 15px;
  font-family: Inter;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  margin: 0px;
  /* background-color: #0070f3; */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.18px;
  flex-grow: 0;
  z-index: 1;
  line-height: 1.4;

  position: relative;
}

div.public-DraftEditor-content {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  font-size: 15px;
  line-height: 1.4;

  /* overflow: scroll; */
  /* flex-grow: 0; */
  z-index: 1;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 20px;
  height: 20px;
  border: 10px solid #fff;
  /* Light grey */
  border-top: 10px solid #66f;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.loading-spinner-red {
  width: 20px;
  height: 20px;
  border: 10px solid #fff;
  /* Light grey */
  border-top: 10px solid #f04438;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

/* .loading-center-dot {
  width: 10px;
  height: 10px;
  background-color: solid #66f;
  border-radius: 50%;
} */

div.toolbar {
  position: relative;
  /* width: 80%; */

  /* padding: 10px 20px; */
  margin: auto;
  /* top: 45px; */
  text-align: right;
}

div.toolbar button {
  border: 1px solid black;
  padding: 5px;
  margin-right: 4px;
  background-color: black;
  color: white;
}

.basic-border-outline {
  display: flex;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid var(--base-light-200, #d0d5dd);
}

.parent-full-flex {
  flex: 1;
  display: flex;
  overflow: auto;
}

.content-full-flex {
  min-height: -webkit-min-content;
  display: flex;
}


.parent__internal-div-visible {}

.parent__internal-div-visible>div {
  visibility: hidden;
}

.parent__internal-div-visible:hover>div {
  visibility: visible;
}

/* Font Size */
.rdw-editor-main .public-DraftStyleDefault-pre .rdw-fontsize-small {
  font-size: 12px;
}

.rdw-editor-main .public-DraftStyleDefault-pre .rdw-fontsize-medium {
  font-size: 16px;
}

.rdw-editor-main .public-DraftStyleDefault-pre .rdw-fontsize-large {
  font-size: 24px;
}

/* Font Type */
.rdw-editor-main .public-DraftStyleDefault-pre .rdw-fontfamily-arial {
  font-family: Arial, sans-serif;
}

.rdw-editor-main .public-DraftStyleDefault-pre .rdw-fontfamily-times-new-roman {
  font-family: "Times New Roman", serif;
}

.rdw-editor-main .public-DraftStyleDefault-pre .rdw-fontfamily-verdana {
  font-family: Verdana, sans-serif;
}

/* Line Spacing */
.rdw-editor-main .public-DraftStyleDefault-pre .rdw-linespacing-single {
  line-height: 1;
}

.rdw-editor-main .public-DraftStyleDefault-pre .rdw-linespacing-1-5 {
  line-height: 1.5;
}

.rdw-editor-main .public-DraftStyleDefault-pre .rdw-linespacing-double {
  line-height: 2;
}

.simplebar-scrollbar {
  width: 4px;
  background-color: #CBCBCB;
  border-radius: 20px;
/* margin-top: 10px; */
  position: absolute;
    left: 0;
    right: -20px;
    min-height: 10px
}

.simplebar-scrollbar::before {
  background-color: #66f;
  
  /* height: 0px; */
  width: 0px;

}